[Desktop Entry]
Version=1.0
Name=Armbian ConfigNG
Comment=Next Generation GUI for Armbian Configurations
Exec=sh -c "sudo armbian-config"
Icon=configng
Terminal=true
Type=Application
Categories=System;Settings;
Path=/usr/bin
StartupNotify=true
