[Desktop Entry]
Version=1.0
Name=Armbian Config
Comment=Armbian System Configurations
Exec=sh -c "sudo armbian-config"
Icon=/usr/share/icons/armbian/armbian-config.png
Terminal=true
Type=Application
Categories=System;Settings;
StartupNotify=true
