name: Generate Man Pages

on:
    push:
        paths:
            - 'share/doc/armbian-configng/*.1.md'

jobs:
    man-page-gen:
        name: Generate Man Pages
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Install Pandoc
          run: sudo apt-get install -y pandoc

        - name: Convert Markdown to Man Pages
          run: |
                for file in share/doc/armbian-configng/*.1.md; do
                    pandoc -s -t man $file -o ${file%.md}
                    gzip ${file%.md}
                done

        - name: Move Man Pages
          run: |
                mkdir -p share/man/man1
                mv share/doc/armbian-configng/*.1.gz share/man/man1/

        - name: Commit and Push Changes
          run: |
                git config --global user.name 'GitHub Actions'
                git config --global user.email 'github-actions@github.com'
                git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
                git add -A
                git commit -m "Generated man pages" || echo "No changes to commit"
                git push origin HEAD:${{ github.ref }}